<div class="outer">
	<div style="text-align:center">
		<h1 id="testHeader" wwlImportantClass="testClass billyBob">
			<span>Welcome to <span wwlImportantClass="joebillyBob">{{ title }}</span>!</span>
			<span id="fred">&nbsp;</span>
		</h1>
	</div>
	<div>
		<wwl-object-property [wwlArrayAsUnknown]="unknownArray" [wwlImportantClass]="myImportantClasses" [wwlObject]="myObj" wwlPropertyName="myProperty.myPropertyName" [wwlPipe]="myPipe" [wwlPipeParameters]="myPipeAtts" wwlUnknownValue="OverriddenUnknownValue"></wwl-object-property>
	</div>
</div>
<br>
